/* 大屏三栏全部显示；平板右侧栏不显示（遮罩层）；手机左右侧都不显示（遮罩层） */
/* 平板 */
@media screen and (max-width: 1200px) {

    .task-detail {
        /* display: none; */
        position: absolute;
        top: 0;
        right: 0;
        /* transform: translateX(10%); */
        /* width: 0; */
        overflow: hidden;
    }

}

/* 手机 */
@media screen and (max-width: 768px) {

    aside {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        z-index: 1;
    }

    /* 左侧栏不展示 */
    .leftColumn-exited {
        width: 0;
    }

    /* 左侧栏展示 */
    .leftColumn-entered {
        width: 15rem;
    }

    .add-list {
        width: 0;
        overflow: hidden;
        padding: 0;
    }

    .menu {
        display: block;
    }

    .task-detail {
        max-width: 60vw;
    }

    .contanier {
        padding: 0 1rem;
    }

    .addTask {
        width: 94%;
    }


}